name: Build & Push images to GHCR
on:
  push:
    branches: [ "main" ]
permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # BACKEND
      - name: Build & push backend
        uses: docker/build-push-action@v6
        with:
          context: ./apps/backend
          file: ./apps/backend/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/exp-backend:latest
            ghcr.io/${{ github.repository_owner }}/exp-backend:${{ github.sha }}

      # FRONTEND
      - name: Build & push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./apps/frontend
          file: ./apps/frontend/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/exp-frontend:latest
            ghcr.io/${{ github.repository_owner }}/exp-frontend:${{ github.sha }}
